{% extends "::base.html.twig" %}

{% block title %}Bodega{% endblock %}
{% block body %}
  <div class="row">
    <div class="col-md-9">
      <div class="card ">
        <div class="row">
          <div class="card-head">
            <header>Bodega</header>
          </div>
          <div class="card-body height-13">
            <div class="table-responsive">
              <table id="data_table_simple" class="display" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Cantidad</th>
                    <th>Equipo</th>
                    <th>Maquinaria</th>
                    <th>Precio</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tfoot>
                  <tr>
                    <th>Cantidad</th>
                    <th>Equipo</th>
                    <th>Maquinaria</th>
                    <th>Precio</th>
                    <th>Estado</th>
                  </tr>
                </tfoot>
                <tbody>
                  {% for item in bodega %}
                    <tr style="cursor: pointer;" class='colli_ajax_modal' 
                        data-destino='#modal' data-href = '{{ path('colli_control_bodega_edit', {pk: item.id}) }}'>
                      <td>{{ item.cantidad }}</td>
                      <td>{{ item.getEquipo().getDescripcion() }}</td>
                      {% if item.getMaquinaria() != null %}
                        <td>{{ item.getMaquinaria().getDescripcion() }}</td>
                      {% else %}
                        <td>No asignado</td>
                      {% endif %}
                      <td>{{ item.precio }}</td>
                      <td>{{ item.estado }}</td>
                    </tr>
                  {% endfor%}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-head">
          <header class="text-primary">Ingresar a bodega</header>
        </div>
        <div class="card-body height-11">
          {{ form_start(form, {'attr': {'class': 'form'}}) }}											
          <div class="form-group">
            {{ form_widget(form.equipo) }}
            <label for="equipo">Equipo</label>
          </div>
          <div class="form-group">
            {{ form_widget(form.cantidad) }}
            <label for="cantidad">Cantidad</label>
          </div>
          <div class="form-group">
            {{ form_widget(form.maquinaria) }}
            <label for="maquinaria">Maquinaria</label>
          </div>
          <div class="form-group">
            {{ form_widget(form.precio) }}
            <label for="precio">Precio</label>
          </div>
          <div class="form-group">
            {{ form_widget(form.estado) }}
            <label for="estado">Estado</label>
          </div>
          {{ form_end(form) }}
        </div>
      </div>
      <div class="card">
        <div class="card-head">
          <header class="text-primary">Imprimir reportes</header>
        </div>
        <div class="card-body height-4">
          <a 
            class="btn btn-block ink-reaction btn-success"
            href="{{ path('colli_control_bodega_pdf') }}">
            <i class="md md-receipt">
            </i>
            GENERAR EXCEL
          </a>
          <a 
            class="btn btn-block ink-reaction btn-danger"
            href="{{ path('colli_control_bodega_pdf') }}">
            <i class="glyphicon glyphicon-th-list">
            </i>
            GENERAR PDF
          </a>
        </div>
      </div>
    </div>
    <div class='modal fade custom-width col-md-6' id ='modal'data-backdrop="static">
      <div class="modal-dialog" style='width: 90%'>
        <div class="modal-content">
          Cargando Informacion ...
        </div>
      </div>
    </div>
  </div>
{% endblock %}