<table>
  <thead>
    <tr>
      <th>Cantidad</th>
      <th>Equipo</th>
      <th>Maquinaria</th>
      <th>Precio</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody>
    {% for item in bodega %}
      <tr>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.getEquipo().getDescripcion() }}</td>
        {% if item.getMaquinaria() != null %}
          <td>{{ item.getMaquinaria().getDescripcion() }}</td>
        {% else %}
          <td>No asignado</td>
        {% endif %}
        <td>{{ item.precio }}</td>
        <td>{{ item.estado }}</td>
      </tr>
    {% endfor%}
  </tbody>
</table>
<style>
  table, td, th {
    border: 1px solid black;
  }

  th {
    background-color: black;
    color: white;
  }
</style>