<table id="data_table_simple" class="display" width="100%" cellspacing="0">
  <thead>
    <tr>
      <th>Bodega</th>
      <th>Fecha retiro</th>
      <th>Maquinaria</th>
      <th>Fecha ingreso</th>
      <th>Canton</th>
      <th>Sector</th>
    </tr>
  </thead>
  <tbody>
    {% for item in bodega %}
      <tr>
        <td>{{ item.getBodega().getDescripcion()  }}</td>
        <td>{{ item.FechaRetiro | date('d-m-Y') }}</td>
        <td>{{ item.getMaquinaria().getDescripcion()  }}</td>
        <td>{{ item.FechaIngreso | date('d-m-Y') }}</td>
        <td>{{ item.getCanton().getDescripcion()  }}</td>
        <td>{{ item.getSector().getDescripcion()  }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<style>
  table, td, th {
    border: 1px solid black;
  }

  th {
    background-color: black;
    color: white;
  }
</style>